.score {
  margin-top: 20px;
  font-weight: bold;
}

  body {
    font-family: "Courier New", monospace;
    text-align: center;
    margin: 0;
    font-size: 20px;
    background-color: rgb(42, 35, 44);
    color: white;
  }
  
  form {
    background-color: #1d191d;
    width: 50%;
    margin: auto;
    border: 2px solid rgb(242, 231, 243);
    border-radius: 4px;
  }
  
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4f345c;
    color: #ecd5e9;
    border: 1px solid #dbc5d8;
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    font-family: "Courier New", monospace;
  }
  button:hover {
    background-color: #b681a8;
    color: #ffffff;
  }
  
  
